<div class = main-top>
  <div class="trip-history">
    <a href="#">■ユーザーが参加した男気旅行一覧</a>
  </div>
  <div class="select-trip-chart">
    <a href="#">■選択された男気旅行結果</a>
  </div>
</div>

<div class = main-under>
  <div class="select-belong-group">
    <a href="#">■ユーザーが属している男気グループ一覧</a>
  </div>
  <div class="total-trip-chart">
    <a href="#">■選択された男気グループの累積結果</a>
  </div>
</div>