<div class = main-top>
  <div class="trip-history"></div>
  <div class="select-trip-chart"></div>
</div>

<div class = main-under>
  <div class="select-trip-ranking"></div>
  <div class="total-trip-chart"></div>
</div>