<div class="menu-bar-flex">
  <div class="group-name">
    <a href="#">男気ジャンケン記録APP</a>
  </div>
  <div class="button">
    <a href="#">■グループ作成</a>
    <a href="#">■旅行計画作成</a>
    <a href="#">■ジャンケン結果記録</a>
    <a href="#">■男気スポット紹介</a>
  </div>
  <div class="user-management">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>

</div>