.menu-bar {
  width:100vw;
  height: 100px;
}

.menu-bar-flex{
  display: flex;
}

.group-name {
  width: 200px;
  height: 100px;
  background-color:yellowgreen;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.button {
  width: 500px;
  height: 100px;
  background-color:aqua;
  padding: 10px;
}

.button a{
  display: flex;
  font-size: 9px;
  color: black;
  text-decoration: none;
  align-items: flex-end;
}

.user-management {
  width: calc(100vw - 200px - 500px);
  height: 100px;
  background-color:orange;
  color: #FAFAFA;
  padding: 10px;
}

.user-name{
  display: flex;
  font-size: 12px;
  text-decoration: none;
  align-items: flex-end;
}

.travel-name{
  display: flex;
  font-size: 12px;
  text-decoration: none;
  align-items: flex-end;
}

.main{
  width:100vw;
  height: calc(100vh - 100px);
}

.main-top{
  display: flex;
}

.trip-history {
  width: 50vw;
  height: calc((100vh - 100px)/2);
  background-color: rebeccapurple;
  padding: 10px;
}

.trip-history a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.select-trip-chart {
  width: 50vw;
  height: calc((100vh - 100px)/2);
  background-color: blue;
  padding: 10px;
  flex-direction: column;
}
.select-trip-title {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.money-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.times-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.select-trip-result1 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.money1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.times1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-trip-result2 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.money2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.times2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-trip-result3 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.money3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.times3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-trip-result4 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.money4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.times4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: blue;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}



.select-trip-chart-left {
  width: calc(50vw/2);
  height: calc((100vh - 100px)/5);
  background-color: blue;
  padding: 10px;

}

.select-trip-chart-right {
  width: calc(50vw/2);
  height: calc((100vh - 100px)/2);
  background-color: blue;
  padding: 10px;
  color: #FAFAFA;
  font-size: 10px;
}

.select-trip-chart a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}


.main-under{
  display: flex;
}

.select-belong-group {
  width: 50vw;
  height: calc((100vh - 100px)/2);
  background-color: brown;
  padding: 10px;
}

.select-belong-group a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.group-name-list {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.total-trip-chart {
  width: 50vw;
  height: calc((100vh - 100px)/2);
  background-color: green;
  padding: 10px;
}

.total-trip-chart a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.select-gr-title {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.nickname-gr-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.money-gr-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.times-gr-title {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
  font-weight: bold;
}

.select-gr-result1 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.gr-nickname1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-money1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-times1 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-gr-result2 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.gr-nickname2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-money2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-times2 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-gr-result3 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.gr-nickname3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-money3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-times3 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.select-gr-result4 {
  width: 50vw;
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  /* flex-direction: column; */
  display: flex;
}

.gr-nickname4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-money4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}

.gr-times4 {
  width: calc(50vw/3);
  height: calc((100vh - 100px)/15);
  background-color: green;
  color: #FAFAFA;
  padding: 10px;
  flex-direction: column;
}