.spot-search-form{
  margin: 3%;
  padding: 3%;
  padding: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-select{
  font-size: auto;
  margin-top: 10vh;
  text-decoration: none;
  text-align: left;
  margin-left:25%;
}
.search-form{
  font-size: auto;
  margin: auto;
  text-decoration: none;
  text-align: center;
}
.search-button{
  font-size: auto;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.search-result-view{
  margin: 3%;
  padding: 3%;
  padding: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-result{
  font-size: auto;
  margin: 5vh 0;
  margin-left: 15vw;
}

.top-page-link{
  font-size: auto;
  text-align: center;
  margin-top: 5vh 0;
}


@media (max-width: 599px) {
  
  .search-select{
    font-size: auto;
    margin-top: 10vh;
    text-decoration: none;
    text-align: left;
    margin-left:0!important;
  }

  .search-result{
    font-size: auto;
    margin: 5vh 0;
    margin-left: 1vw!important;
  }
}