.detail-page-title{
  color:blue;
}

.detail-page-travel-title{
  display: flex;
}

.detail-page-travel-name{
  color:black;
}

.detail-page-travel-period{
  color:black;
}

.travel-result-table{
  width: 600px;
  height: 150px;
  overflow-y: scroll;
}