.detail-page-title{
  color:blue;
}

.detail-page-travel-title{
  display: flex;
}

.detail-page-travel-name{
  color:black;
  font-size: large;
}

.detail-page-travel-period{
  color:black;
  font-size: large;
}

.travel-result-table{
  width: 600px;
  height: 150px;
  overflow-y: scroll;
}

.result-image-content{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-image{
  width: 33vh;
  height: 33vh;
}