.detail-page-title{
  color:blue;
}

.detail-page-travel-title{
  display: flex;
}

.detail-page-travel-name{
  color:black;
  font-size: large;
}

.detail-page-travel-period{
  color:black;
  font-size: large;
}

.travel-result-table{
  width: 100%;
  height: 100%;
}

.result-image-content{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.result-image{
  width: 33vh;
  height: 33vh;
}

.container{
  margin: 20px 0;
  padding: 30px;
  box-sizing: border-box;
}

form input,
form textarea {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  margin: 5vh 0;
}

.comments {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  height: 150px;
}

/* .travel-registration-form{
  text-align: center;
} */

.travel-registration-form__field{
  width: 100%;
  padding: 0.5% 10%;
}


.travel-registration-form__field--left{
  text-align: left;
  padding: 0 25%;
}

.travel-registration-form__field--right{
  text-align: center;
}

.travel-registration-form__field-date{
  padding: 0.5% 30%;
  text-align: center;
}

.travel-registration-form__field-date--left{
  width: 100%;
  text-align: left;
}

.travel-registration-form__field-date--right{
  text-align: center;
  display: flex;
  width: 100%;
  /* padding: 0 30%; */
}

thead,
tfoot{
  background-color:#F5E28D;
}
tbody{
  background-color: whitesmoke;
}

td,th {
  text-align: center;
  padding: 1vw;
}